QMainWindow{
	background-color:rgb(76, 177, 167);
	color:rgb(134, 81, 81);
	font:12pt"新宋体";
}

QPushButton:hover{
	background-color:pink;
	color:yellow;
}

QLineEdit{
	background-color:rgb(50, 60, 111);
	color:yellow;
}

QTableView{
	background-color:rgb(234, 234, 234);
	color:rgb(235, 126, 79);
}